.micromodal-slide h2 {
  width: auto;
  padding-bottom: 25px;
  position: relative;
}
.micromodal-slide h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #02AD64;
  height: 6px;
  border-radius: 10px;
  width: auto;
}

.micromodal-slide h3:after {
  content: " ";
  display: block;
  width: auto;
  border-top: 2px solid skyblue;
  border-bottom: 2px solid skyblue;
  border-radius: 2px;
}
/**************************\
    Basic Modal Styles
  \**************************/

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
      Demo Animation Style
    \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
.aroneLogo {
  height: 3rem;
  width: 10rem;
  margin-left: 10px;
}
.homeSec {
  background-image: url(../images/homeBg.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  height: 120vh;
  width: 100%;
}
.homeDiv {
  position: relative;
  display: flex;

}
.homeImg1 {
  position: relative;
  top: 10rem;
  left: 50rem;
  height: 500px;
  width: 480px;
}
.homeText {
  position: absolute;
  margin-bottom: 4rem;
  margin-left: 4rem;
  color: white;
  margin-top: 8rem;
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 30px;
width: 550px;
height: 153px;
}
.homeText h1 {
 margin-top: 3rem;
 width: 631px;
height: 120px;
font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 100px;
line-height: 120px;

}
.homeTxt {
  margin-bottom: 3rem;

}
.homeBtn {
  background-color: #B6FF89;
  border-radius: 20px;
  padding: 0.5rem 1.5rem ;
  font-size: larger;
  font-family: 'Lato';
  color: black;
}
@media (max-width: 600px) {
  .homeText {
    text-align: left;
    margin-bottom: 4rem;
    width: auto !important;
  }
  .homeText h1 {
width: 450px !important;
font-size: 70px;
  }
  .homeImg1 {
  top: 10rem;
  left: 50rem;
  height: 400px !important;
  width: 380px !important;
}
  .homeText p {
    width: 450px !important;
    font-size: 25px !important;
  }
  .homeDiv {
    width: 100% !important;
  }
  .homeImg1 {
    position: absolute;
    top: 35rem;
    left: 3rem;
    display: block;
    height: 450px;
  width: 440px;
    
  }
  .homeSec {
  background-image: url(../images/homeBg.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  height: 190vh;
  max-width: 100% !important;
}

  .sec2 {
    flex-direction: column;
    height: 156vh !important;
  }
  .sect2_text {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    width: auto !important;
    align-items: center;
    justify-content: center;
  }
   .sect2_text h1 {
position: relative;
margin-top: 10rem;
margin-bottom: 3rem !important;
width: 450px !important;
font-family: 'Lato';
font-style: normal;
font-weight: 200;
font-size: 50px !important;
/* text-align: center; */
}
.sect2_text p {
position: relative;
width: 450px !important;
/* margin-bottom: 0rem !important; */
font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 20px !important;
color: #000000;

}
.sect2_img {
 rotate: 40deg !important;
 display: flex;
 align-self: center;

}
.l3 {
  display: flex;
  margin-top: 0px !important;

}
.sec3 {
  height: 160vh !important;
}
.sect3_text h1 {
  position: relative;
width: 480px !important;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 50px !important;

color: #000000;
}
.sect3_text p {
  position: relative;
width: 451px !important;
font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 20px !important;
text-align: center;
color: #000000;

}
.sect3_text {
  margin-top: 9rem !important;
}
.sect3_img {
  margin-left: 1rem !important;
  height: 450px !important;
  width: 500px !important;
}
.sec4 {
  
  flex-direction: column;
  height: 160vh !important;
  
}
.sect4_text h1 {
position: relative;
width: 308px !important;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 40px !important;
align-items: center;

color: #000000;

}
.sect4_text p {
position: relative;
width: 480px !important;

font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 25px !important;
align-items: center;

color: #000000;
}
.sect4_img {
  position: relative;
  height: 400px !important;
  width: 200px !important;
  margin-left: 11rem !important;
  margin-top: -30rem !important;
  
}
.sect6Sub h3 {
  font-weight: bold;
  margin-top: 5rem !important;
   margin-bottom: 2rem;
  font-size: 20px !important;
}
.sect6Sub li {
  list-style-type: none;
  margin-bottom: 1rem;
  font-size: 12px !important;
}
.instagram {
  height: 15px !important;
  width: 15px !important;
  
}
.copyright p {
  font-size: 13px;
  margin-top: 2rem !important;
}
.sec6 {
  height: 60vh !important;
}
iframe {
  overflow-y: hidden !important;
}
}


.sec2 {
  background-color: white;
  display: flex;
  width: 100%;
  height: 110vh;
}
.sect2_text {
  width: 50%;
  margin-left: 3rem;

}
.sect2_text p {
position: relative;
width: 100%;

/* left: -177px;
top: 377px; */

font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 30px;
color: #000000;
}
.sect2_text h1 {
position: relative;
width: 100%;
margin-top: 10rem;
margin-bottom: 4rem;
/* left: -177px;
top: 113px; */

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 70px;
align-items: center;
color: #000000;
}
.sect2_img {
 width: 90%;
 rotate: 10deg;
 margin-top: -2rem;
}
.l3 {
  margin-top: 3rem;
  width: 50%;
  align-self: center;
}
.sec3 {
  background-image: url(../images/bg\ 1.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  height: 190vh;
  background-color: white;
}
.sec3_div {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
.sect3_text {
  display: flex;
  flex-direction: column;
align-items: center;
width: 100% !important;
margin-top: 12rem;
align-items: center !important;

}
.sect3_text h1 {
  position: relative;
width: 770px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 80px;

color: #000000;
}
.sect3_text p {
  position: relative;
width: 681px;
font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 30px;
text-align: center;
color: #000000;

}
.sect3_img {
  margin-top: -3rem;
}
.sec4 {
  background-color: white;
  display: flex;
  height: 120vh;
  justify-content: space-between;
}
.sect4_text {
  width: 50%;
  margin-left: 3rem;
  margin-top: 5rem;
}
.sect4_text h1 {
position: relative;
width: 408px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 80px;
align-items: center;

color: #000000;

}
.sect4_text p {
position: relative;
width: 580px;

font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 30px;
align-items: center;

color: #000000;
}
.sec4_img {
  width: 50%;
  
  justify-content: center !important;
}
.sect4_img {
  height: 600px;
  width: 300px;
  margin-left: 15rem;
  margin-top: -2rem;
  
}
.sec5 {
  background-image: url(../images/homeBg.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  height: 80vh;
  max-width: 100% !important;
}

iframe {
  width: 100%;
  height: 500px;
  padding: 40px 0px;
  overflow-y: hidden;
}

.sec6 {
  background-image: url(../images/bg2.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  height: 80vh;
}
.sect6Sub h3 {
  font-weight: bold;
  margin-top: 7rem;
   margin-bottom: 2rem;
  font-size: 25px;
}
.sect6, .insta {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  margin-bottom: 1rem;
  font-size: 15px;
}
.instagram {
  height: 20px;
  width: 20px;
  margin-top: 2px;
}
li:hover {
  color: blue;
}
.copyright p {
  text-align: center;
  margin-top: 5rem;
}