@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
header {
 background-color: #000;
}
.navbar {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 20px 10px;
 background-color: white;
}
.navbar h1 {
 color: white;
}
.navbar a {
 text-decoration: none;
 color: black;
}
.navbar ul {
  display: flex;

 }
.navbar li {
  list-style-type: none;
  margin-right: 20px;
  font-size: 21px;
  font-family: "DM Sans", sans-serif;
  margin-top: 12px;
 }
/* .navbar button a.active {
 color: rgb(2, 2, 59);
}
.navbar a:hover:not(.active) {
 color: rgb(2, 2, 59);
} */
.mobile-menu-icon {
display: none;
position: absolute;
top: 1.5rem;
right: 2.5rem;
z-index: 1;
cursor: pointer;
}
.hamburger-menu {
 width: 2rem;
 height: 2rem;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 position: relative;
 transition: all 0.5s;
}
.hamburger-menu .line {
 background-color: black;
 height: 3px;
 width: 100%;
 -webkit-transition: all 0.3s;
 transition: all 0.3s;
}
nav.open ul {
 transform: translateX(0);
}
nav.open .hamburger-menu {
 transform: rotate(180deg);
}
nav.open .hamburger-menu .line:nth-of-type(1) {
 -webkit-transform: rotateZ('45deg');
 transform: rotateZ('45deg') translate(0.6rem, 0.1rem);
}
nav.open .hamburger-menu .line:nth-of-type(2) {
 display: none;
}
nav.open .hamburger-menu .line:nth-of-type(3) {
 -webkit-transform: rotateZ('45deg');
 transform: rotateZ('45deg') translate(0.6rem, -0.1rem);
}

@media screen and (max-width: 600px) {
 nav {
  width: 100%;
 }
 .mobile-menu-icon {
  display: block;
 }
 header {
  background-color: initial;
 }
 nav ul {
  position: absolute;
  top: 5rem;
  right: 0;
  flex-direction: column;
  height: auto;
  align-items: center;
  padding-top: 0.5rem;
  background-color: white;
  transform: translateX(20rem);
  transition: transform 0.5s ease-in-out;
  padding-left: 15px;
  padding-right: 15px;
 }
 nav ul li {
  padding: 0rem 2rem 1.5rem 4rem;
  width: 100%;
  font-size: 20px !important;
  font-family: "DM Sans", sans-serif;
 }
 nav ul li:not(:last-child) {
  border-bottom: 1px solid #ccc;
 }
}
.bgNav {
  background-color: white;
  z-index: 50;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}